//- body.pug

include ./nav.pug
include ./header.pug

//- services
+content_about

section#services(class="content-section bg-primary text-white text-center")
    .container
        +services_header("Services","What we offer")
        .row
            +service("Responsive", "Looks great on any screen size!", "icon-screen-smartphone")
            +service("Redesigned", "Freshly redesigned for Bootstrap 4.", "icon-pencil")
            +service("Redesigned", "Freshly redesigned for Bootstrap 4.", "icon-pencil")
            +service("Redesigned", "Freshly redesigned for Bootstrap 4.", "icon-pencil")

section(class="content-section bg-primary text-white")
    div(class="container text-center")
        h2(class="mb-4") The buttons below are impossible to resist...
        a(href="#" class="btn btn-xl btn-light mr-4") Click Me!
        a(href="#" class="btn btn-xl btn-dark") Look at Me!


include ./footer.pug

//- google map
section.map#contact
    +google_map

+scroll_to_top

include ./script.pug
