//- body.pug

include ./nav.pug
include ./header.pug

//- services
section#services(class="content-section bg-primary text-white text-center")
    .container
        +services_header("Services","What we offer")
        .row
            +service("Responsive", "Looks great on any screen size!", "icon-screen-smartphone")




include ./script.pug
