//- footer.pug

footer(class="footer text-center")
    .container
        ul(class="list-inline mb-5")
            li(class="list-inline-item")
                a(class="social-link rounded-circle text-white mr-3" href="#")
                    i.icon-social-facebook
            li(class="list-inline-item")
                a(class="social-link rounded-circle text-white mr-3" href="#")
                    i.icon-social-twitter
            li(class="list-inline-item")
                a(class="social-link rounded-circle text-white" href="#")
                    i.icon-social-github
        p(class="text-muted small mb-0") Copyright &copy; Your Website 2019
