//- nav.pug

include mixins.pug

a(class="menu-toggle rounded" href="#")
    i(class="fas fa-bars")

nav#sidebar-wrapper
    ul.sidebar-nav
        li(class="sidebar-brand")
            +sidebar_brand("#page-top","Start Bootstrap")

        li(class="sidebar-nav-item")
            +sidebar_brand("#page-top","Home")

        li(class="sidebar-nav-item")
            +sidebar_brand("#about","About")

        li(class="sidebar-nav-item")
            +sidebar_brand("#services","Services")

        li(class="sidebar-nav-item")
            +sidebar_brand("#portfolio","Portfolio")

        li(class="sidebar-nav-item")
            +sidebar_brand("#contact","Contact")
